居中显示：
行级：
{
	text-align: center;/*水平居中*/
	line-height: /*盒子的高度*/
}

块级：
{
	margin:0 auto;
	
}
/*绝对定位*/

{
	display:box;
	box-pack:center;/*水平居中*/
	box-align:center;/*垂直居中*/
}
{
    display:flex;
    align-items:center;/*垂直居中*/
    justify-content:center;/*水平居中*/
}

图片：
{
	background-position: center;
}